{% extends 'diagnost/base.html' %}
{% load static %}
{% load webp %}


{% block description %}Страница об организации Диагностика авто Владикавказ{% endblock %}

{% block title %}О нас{% endblock %}

{% block content %}
    <div class="top-shadow"></div>
    
    <div class="inner-page">
    <div class="slider-item" style="background-image: url('{% static 'images/about.webp' %}');">
        
        <div class="container">
          <div class="row slider-text align-items-center justify-content-center">
            <div class="col-md-8 text-center col-sm-12 element-animate pt-5">
              <h1 class="pt-5"><span>О нас</span></h1>
              <p class="mb-5 w-75">Познакомьтесь с нашей командой единомышленников, мы знаем толк в диагностике и ремонте авто</p>
            </div>
          </div>
        </div>

      </div>
    </div>
    
    

    <section>
      <div class="half d-lg-flex d-block">
        <div class="image element-animate" data-animate-effect="fadeIn" style="background-image: url('{% static 'images/industrial_hero2.webp' %}')"></div>
        <div class="text text-center element-animate">
          <h3 class="mb-4">Наши цели</h3>
          <p class="mb-5">Профессиональный ремонт ходовой части, особенно внедорожников.

Компьютерная диагностика с применением искусственного интеллекта.

Установка и ремонт аудиосистем, настройка автозвука под индивидуальные предпочтения.

Современное оборудование и автоматизированные системы анализа.

Обученный персонал и гарантия качества работ.

Прозрачный и удобный сервис для клиентов.

Укрепление репутации как техцентра нового поколения во Владикавказе.</p>
          <p><a href="#" class="btn btn-primary btn-sm px-3 py-2">Читать далее</a></p>
        </div>
      </div>

      <div class="half d-lg-flex d-block">
        <div class="image order-2 element-animate" data-animate-effect="fadeIn" style="background-image: url('{% static 'images/industrial_hero2.webp' %}')"></div>
        <div class="text text-center element-animate">
          <h3 class="mb-4">История компании</h3>
          <p class="mb-5">Компания «Автозвук» начала свою историю в 1999 году во дворе гостиницы «Кадгарон» в Республике Северная Осетия — Алания. Всё начиналось в небольшом одиночном боксе, где команда энтузиастов, увлечённых автозвуком и автомобильной электроникой, воплощала своё видение идеального звука в автомобиле.

Их подход сразу выделялся: не просто установка, а точная настройка, внимание к деталям и индивидуальный подход. Клиенты приходили по сарафанному радио — за качеством, которое чувствуется.

Со временем спрос на услуги стремительно рос. Компания расширила спектр работ: появилась электронная диагностика, установка охранных систем, ремонт автоэлектрики, а затем — и ремонт ходовой части. Пришло новое оборудование, увеличился штат, стандарты качества выросли.

Когда одного бокса стало недостаточно, было принято стратегическое решение — переехать и расшириться. Так «Автозвук» обрел новый дом по адресу Архонское шоссе, 11 — в просторном и современно оборудованном сервисе, где всё создано для комфорта клиентов и высокой эффективности работы.

Сегодня «Автозвук» — это надёжный автосервис во Владикавказе, предлагающий:

    компьютерную диагностику нового поколения,

    ремонт подвески и автоэлектрики,

    установку премиальных аудиосистем и сигнализаций.

Но главное осталось прежним — страсть к своему делу, техническое мастерство и уважение к каждому автомобилю.</div>
      </div>

    </section>




{% endblock %}


