# Python
__pycache__/
*.py[cod]
*.so
*.egg-info/
dist/
build/

# Envs
venv/
.env
.env.*

# Django
media/
staticfiles/
*.sqlite3
local_settings.py
*.bak
*.bak.*
*.backup
*~

# OS / IDE
.DS_Store
.idea/
.vscode/
virtualenv.pyz
.htaccess
*.mo
runtime/
backups/
